/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html,body {
  font-size: 18px;
}
body {
  padding-bottom: 1rem;
  color: #5a5a5a;
}

hr {
       display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 0;
       width: 100%;
       max-height: 0;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border: none;
       border-top: 1px solid #aaaaaa;
       border-bottom: 1px solid #ffffff;
    }

	ul {
		display: inline-block;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333333;
	}

	li {
		float: left;
	}

	li a {
		width: 280px;
		display: block;
		color: white;
		text-align: center;
		padding: 34px;
		text-decoration: none;
	}

	li a:hover {
		background-color: #111111;
	}



/* CUSTOMIZE THE HEADER
-------------------------------------------------- */

img.img-header {
  max-height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing {
  margin-top: 1rem;
}

.marketing h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;

}

.media-item {
  margin: 1rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* Footer
------------------------- */

.footer-divider {
  margin: 5rem 0 2rem 0; /* Space out the Bootstrap <hr> more */
}

footer p {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
<style>
 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
     display: block;
     max-width: 100%;
     height: 2000px !important;
 }
 </style>


@media (min-width: 40em) {
  
  

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
